option_settings:
  aws:autoscaling:asg:
    MinSize: 2
    MaxSize: 4
  aws:autoscaling:launchconfiguration:
    InstanceType: t3.small
  aws:ec2:vpc:
    VPCId: 
    Subnets: 
    ELBSubnets: 
  aws:elasticbeanstalk:environment:
    EnvironmentType: LoadBalanced
  aws:elasticbeanstalk:application:environment:
    PYTHONPATH: /var/app/current
  aws:elasticbeanstalk:container:python:
    WSGIPath: application.py