apiVersion: apps/v1
kind: Deployment
metadata:
  name: car-lot-simple
spec:
  replicas: 2
  selector:
    matchLabels:
      app: car-lot-simple
  template:
    metadata:
      labels:
        app: car-lot-simple
    spec:
      containers:
      - name: car-lot
        image: azexkush/car-lot-manager:latest
        ports:
        - containerPort: 5000
        env:
        - name: DATA_FILE
          value: "/tmp/inventory.json"
---
apiVersion: v1
kind: Service
metadata:
  name: car-lot-simple-service
spec:
  type: NodePort
  ports:
  - port: 80
    targetPort: 5000
    nodePort: 30080
  selector:
    app: car-lot-simple