apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "car-lot.fullname" . }}
  labels:
    {{- include "car-lot.labels" . | nindent 4 }}
spec:
  replicas: {{ .Values.replicaCount }}
  selector:
    matchLabels:
      {{- include "car-lot.selectorLabels" . | nindent 6 }}
  template:
    metadata:
      labels:
        {{- include "car-lot.selectorLabels" . | nindent 8 }}
    spec:
      containers:
        - name: {{ .Chart.Name }}
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag | default .Chart.AppVersion }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          ports:
            - name: http
              containerPort: {{ .Values.service.targetPort }}
              protocol: TCP
          volumeMounts:
            - name: data
              mountPath: /app/data
      volumes:
        - name: data
          persistentVolumeClaim:
            claimName: {{ include "car-lot.fullname" . }}-pvc
