replicaCount: 2

image:
  repository: azexkush/carlot-app
  tag: "latest"
  pullPolicy: Always

service:
  type: NodePort
  port: 8501
  nodePort: 30080

resources:
  limits:
    cpu: 500m
    memory: 512Mi
  requests:
    cpu: 250m
    memory: 256Mi
