apiVersion: v1
kind: Service
metadata:
  name: car-lot-service
  labels:
    app: car-lot-app
spec:
  type: NodePort
  ports:
  - port: 80
    targetPort: 5000
    nodePort: 30080
    protocol: TCP
    name: http
  selector:
    app: car-lot-app
