---
- name: Setup Kubernetes Cluster
  hosts: all
  become: yes
  tasks:
    - name: Disable swap
      shell: swapoff -a && sed -i '/ swap / s/^/#/' /etc/fstab

    - name: Update and install packages
      apt:
        update_cache: yes
        name:
          - docker.io
          - apt-transport-https
          - curl
          - gnupg
        state: present

    - name: Start Docker
      systemd:
        name: docker
        state: started
        enabled: yes

    - name: Add Kubernetes repo
      shell: |
        curl -fsSL https://pkgs.k8s.io/core:/stable:/v1.29/deb/Release.key | gpg --dearmor -o /etc/apt/keyrings/kubernetes-apt-keyring.gpg
        echo 'deb [signed-by=/etc/apt/keyrings/kubernetes-apt-keyring.gpg] https://pkgs.k8s.io/core:/stable:/v1.29/deb/ /' > /etc/apt/sources.list.d/kubernetes.list

    - name: Install Kubernetes
      apt:
        update_cache: yes
        name:
          - kubelet
          - kubeadm
          - kubectl
        state: present

    - name: Hold Kubernetes packages
      dpkg_selections:
        name: "{{ item }}"
        selection: hold
      loop:
        - kubelet
        - kubeadm
        - kubectl

- name: Initialize Master
  hosts: master
  become: yes
  tasks:
    - name: Initialize cluster
      shell: |
        kubeadm reset -f
        kubeadm init --pod-network-cidr=10.244.0.0/16
        mkdir -p /home/ubuntu/.kube
        cp /etc/kubernetes/admin.conf /home/ubuntu/.kube/config
        chown ubuntu:ubuntu /home/ubuntu/.kube/config

    - name: Install Flannel
      become_user: ubuntu
      shell: kubectl apply -f https://raw.githubusercontent.com/coreos/flannel/master/Documentation/kube-flannel.yml

    - name: Get join command
      shell: kubeadm token create --print-join-command
      register: join_command

    - name: Save join command
      copy:
        content: "{{ join_command.stdout }}"
        dest: /tmp/join_command.txt

- name: Join Workers
  hosts: worker
  become: yes
  tasks:
    - name: Get join command
      slurp:
        src: /tmp/join_command.txt
      delegate_to: "{{ groups['master'][0] }}"
      register: join_cmd

    - name: Join cluster
      shell: |
        kubeadm reset -f
        {{ join_cmd.content | b64decode | trim }}